In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

4. Use the %matplotlib inline magic command so that your plots show in the notebook without having to call plt.show() every time.

In [2]:
%matplotlib inline

5. Using the pandas read_csv() method, read the GDP dataset into your notebook as a DataFrame called gdp_df. Take a look at the first 6 rows.

In [3]:
gdp_df = pd.read_csv("../Data/gdp_percapita.csv", nrows=6868)

6. Repeat for the internet use dataset. Call this DataFrame internet_df. Take a look at the first six rows.

In [4]:
internet_df = pd.read_csv("../Data/internet_use.csv", nrows=4495)

7. Look at the shape of each DataFrame - how many rows? How many columns?

In [5]:
gdp_df.shape

(6868, 4)

In [6]:
len(internet_df)

4495

8. Take a look at the datatypes for the columns in each DataFrame

In [7]:
type(gdp_df)

pandas.core.frame.DataFrame

In [8]:
type(internet_df)

pandas.core.frame.DataFrame

9. Take a look at the last 10 rows of each DataFrame in turn.

In [9]:
rows = gdp_df.tail(10)

print(rows)

     Country or Area  Year        Value  Value Footnotes
6858        Zimbabwe  1999  3600.849291              NaN
6859        Zimbabwe  1998  3653.920016              NaN
6860        Zimbabwe  1997  3580.048793              NaN
6861        Zimbabwe  1996  3520.430146              NaN
6862        Zimbabwe  1995  3226.413930              NaN
6863        Zimbabwe  1994  3263.934978              NaN
6864        Zimbabwe  1993  3033.504852              NaN
6865        Zimbabwe  1992  3054.889178              NaN
6866        Zimbabwe  1991  3426.598094              NaN
6867        Zimbabwe  1990  3324.348171              NaN

In [10]:
last10 = internet_df[-10:]

print(last10)

     Country or Area  Year     Value  Value Footnotes
4485        Zimbabwe  2002  3.994356              NaN
4486        Zimbabwe  2001  0.799846              NaN
4487        Zimbabwe  2000  0.401434              NaN
4488        Zimbabwe  1999  0.161676              NaN
4489        Zimbabwe  1998  0.081648              NaN
4490        Zimbabwe  1997  0.033080              NaN
4491        Zimbabwe  1996  0.016790              NaN
4492        Zimbabwe  1995  0.007684              NaN
4493        Zimbabwe  1994  0.001739              NaN
4494        Zimbabwe  1990  0.000000              NaN

10. Drop the value footnotes column from both DataFrames. Check that this worked as expected.

In [11]:
gdp_df.drop = ['value footnotes']

In [12]:
internet_df = ["Country or Area", "Year", "Value", "Value Footnotes"]
internet_df.remove ("Value Footnotes")
print(internet_df)

['Country or Area', 'Year', 'Value']

11. Change the columns for the GDP Per Capita DataFrame to ‘Country’, ‘Year’, and ‘GDP_Per_Capita’.

In [13]:
new_columns= ['Country','Year', 'GDP_Per_Capita']
print(new_columns)

['Country', 'Year', 'GDP_Per_Capita']

12. Change the columns for the Internet Users DataFrame to ‘Country’, ‘Year’, and ‘Internet_Users_Pct’.

In [14]:
internet_pdf = ['Country', 'Year', 'Internet_Users_Pct']
print(internet_pdf)

['Country', 'Year', 'Internet_Users_Pct']

13. Merge the two DataFrames to one. Merge all rows from each of the two DataFrames. Call the new DataFrame gdp_and_internet_use.

In [15]:

s1 = pd.Series(['Country or Area', 'Year', 'Value'])
gdp_and_internet_use = pd.concat([s1, gdp_df], axis =1)
print(gdp_and_internet_use)

                    0 Country or Area  Year        Value  Value Footnotes
0     Country or Area     Afghanistan  2019  2065.036398              NaN
1                Year     Afghanistan  2018  2033.779002              NaN
2               Value     Afghanistan  2017  2058.383832              NaN
3                 NaN     Afghanistan  2016  2057.062164              NaN
4                 NaN     Afghanistan  2015  2068.265904              NaN
...               ...             ...   ...          ...              ...
6863              NaN        Zimbabwe  1994  3263.934978              NaN
6864              NaN        Zimbabwe  1993  3033.504852              NaN
6865              NaN        Zimbabwe  1992  3054.889178              NaN
6866              NaN        Zimbabwe  1991  3426.598094              NaN
6867              NaN        Zimbabwe  1990  3324.348171              NaN

[6868 rows x 5 columns]

14. Look at the first five rows of your new DataFrame to confirm it merged correctly.

In [16]:
df = gdp_and_internet_use.head(5)
print(df)

                 0 Country or Area  Year        Value  Value Footnotes
0  Country or Area     Afghanistan  2019  2065.036398              NaN
1             Year     Afghanistan  2018  2033.779002              NaN
2            Value     Afghanistan  2017  2058.383832              NaN
3              NaN     Afghanistan  2016  2057.062164              NaN
4              NaN     Afghanistan  2015  2068.265904              NaN

15. Look at the last five rows to make sure the data is clean and as expected.

In [17]:
df = gdp_and_internet_use.tail(5)
print(df)

        0 Country or Area  Year        Value  Value Footnotes
6863  NaN        Zimbabwe  1994  3263.934978              NaN
6864  NaN        Zimbabwe  1993  3033.504852              NaN
6865  NaN        Zimbabwe  1992  3054.889178              NaN
6866  NaN        Zimbabwe  1991  3426.598094              NaN
6867  NaN        Zimbabwe  1990  3324.348171              NaN

16. Subset the combined DataFrame to keep only the data for 2004, 2009, and 2014. Check that this happened correctly.

In [18]:
year = gdp_and_internet_use[gdp_and_internet_use["Year"].isin([2004, 2009, 2014])]
print(year)

        0 Country or Area  Year         Value  Value Footnotes
5     NaN     Afghanistan  2014   2102.385234              NaN
10    NaN     Afghanistan  2009   1758.904043              NaN
15    NaN     Afghanistan  2004   1200.278256              NaN
23    NaN         Albania  2014  11623.866679              NaN
28    NaN         Albania  2009  10346.864199              NaN
...   ...             ...   ...           ...              ...
6818  NaN          Zambia  2009   2917.516220              NaN
6823  NaN          Zambia  2004   2261.766537              NaN
6843  NaN        Zimbabwe  2014   2955.240287              NaN
6848  NaN        Zimbabwe  2009   1925.364381              NaN
6853  NaN        Zimbabwe  2004   2480.859342              NaN

[708 rows x 5 columns]

17. Create three new DataFrames, one for 2004, one for 2009, and one for 2014. Give them meaningful names that aren't too long.

In [57]:
year = gdp_and_internet_use["Year"] = 2004
print(year)

2004

### 18. Which country had the highest percentage of internet users in 2014? What was the percentage? (Try typing the first 3 letters of your DataFrame name and hitting the tab key for auto-complete options).

In [41]:
year_2004 = gdp_and_internet_use.loc[2014]    
    
# max_year = max(year_2004)

# print(max_year)

year_2004.head()

0                             NaN
Country or Area    European Union
Year                         1996
Value                30901.408344
Value Footnotes               NaN
Name: 2014, dtype: object

Which country had the lowest percentage of internet users in 2014? What was the percentage?